<h2>Page two</h2>
<p>bidding model with inputD</p>
<div class="w3-col 12">
    <div class="w3-container">
        <label>the input</label>
        <input data-binding-with="data_2" class="w3-input" type="text" value="" />
    </div>
    <p id="text"></p>
    <button class="button_2">Get Data model input</button>
    <p>
    	<data-model data-binding-with="data_2"></data-model><br>
    	<data-model data-binding-with="data_2"></data-model><br>
    	<data-model data-binding-with="data.hello"></data-model><br>
    </p>
    
</div>