<h2>Page Three</h2>
<p>bidding model with inputD</p>
<div class="w3-col 12">
    <div class="w3-container">
        <label>Value</label>
        <input 
        	data-binding-with="data_3.data.key" 
        	data-binding-on="change"
        	class="w3-input" 
        	type="range" 
        	value="" />
    </div>
    <p id="text"></p>
    <button class="button_3">Get Data model input</button>
</div>